
@{
    ViewData["Title"] = "Text";
}
<link href="~/css/main.css" rel="stylesheet" />
<html>
<body>
    <main id="accordion" style="margin-left:400px;margin-top:3000px">
        <section id="item1">
            <a href="#item1">team1</a>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

        </section>
        <section id="item2">
            <a href="#item2">team2</a>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

        </section>
        <section id="item3">
            <a href="#item3">team3</a>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

        </section>
    </main>
</body>
</html>