
@{
    ViewData["Title"] = "ListProperty";
}
<style>
    .treeview.propertys [data-toggle='treeview'] {
        border-left-color: #009688;
        background: #0d1214;
    }

    .treeview.propertys .treeview-menu {
        max-height: 100vh;
    }

    .treeview.propertys .treeview-indicator {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .treeview-item.list-property, .treeview-item:hover, .treeview-item:focus {
        background: #0d1214;
        text-decoration: none;
        color: #fff;
    }

    #resize {
        width: 100%; /* you can use % */
        height: 150px;
    }
</style>
<main class="app-content">
    <h2>ListProperty</h2>
</main>
