@{
    ViewData["Title"] = "TypesAsset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/main.css" rel="stylesheet" type="text/css" />
<head>
    <style>
        .title {
        }

        table, th,td {
            border: 1px solid black;
            font-size: 16px;    
        }

        a.btn:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        a.btn {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }
        #modal-header {
            background-color: #009688
        }
        
    </style>
</head>
<main class="app-content">
    <div id="page_header" class="widget-box  ">
        <div class="widget-header" style="border-radius:4px">
            <h3 class="widget-title">
                <i class="ace-icon fa fa-star orange"></i>
                Danh Sách Loại Tài Sản
            </h3>

        </div>
        <div class="tile">
            <div class="widget-main">
                <form action="/Maintenance/Index" class="search-view form-inline" id="Maintenance" method="get">
                    <p>
                        <input autocomplete="off" class="form-control" id="Name" name="Name" placeholder="Tên loại tài sản..." type="text" value="">
                        <select id="Type" name="Type" style="height: 32px;width:150px">
                            <option value="">Loại</option>
                            <option value="All">Tất Cả</option>
                            <option value="TV">TV</option>
                            <option value="Refri">Tủ Lạnh</option>
                            <option value="Washing">Máy Giặt</option>
                        </select>
                        <select id="ConstructionUnit" name="ConstructionUnit" style="height: 32px;width:150px">
                            <option value="">Sắp Xếp</option>
                            <option value="Tên">Tên</option>
                            <option value="">Mới Nhất</option>
                        </select>
                    </p>

                </form>
                <p style="margin:0px;">
                    <button class="btn btn-mini btn-primary" name="search" onclick="return true;" type="submit" value="Search" style="background-color:#007065">
                        <span>Tìm kiếm</span>
                        <i class="ace-icon fa fa-search"></i>
                    </button>
                </p>
            </div>
        </div>
    </div>
        <div class="tile">
            <div class="tile-body">
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="sampleTable_length"><label>Show <select name="sampleTable_length" aria-controls="sampleTable" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="sampleTable_filter" class="dataTables_filter"></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info" style="border-collapse:collapse;">
                                <thead>
                                    <tr role="row">
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 115px;">Asset ID</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">Type</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 82px;">Office</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 32px;">Age</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 80px;">Start date</th>
                                    <th tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 163px;">Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-toggle="collapse" role="row" class="odd">
                                        <td class="sorting_1">Airi Satou</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>33</td>
                                        <td>2008/11/28</td>
                                        <td>
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                            <p class="bs-component">
                                                <button class="btn btn-warning" type="button">Update</button>
                                                <button class="btn btn-secondary" type="button">Asign</button>
                                                <button class="btn btn-danger" type="button">Delete</button>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Angelica Ramos</td>
                                        <td>Chief Executive Officer (CEO)</td>
                                        <td>London</td>
                                        <td>47</td>
                                        <td>2009/10/09</td>
                                        <td>$1,200,000</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>San Francisco</td>
                                        <td>66</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Bradley Greer</td>
                                        <td>Software Engineer</td>
                                        <td>London</td>
                                        <td>41</td>
                                        <td>2012/10/13</td>
                                        <td>$132,000</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Brenden Wagner</td>
                                        <td>Software Engineer</td>
                                        <td>San Francisco</td>
                                        <td>28</td>
                                        <td>2011/06/07</td>
                                        <td>$206,850</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Brielle Williamson</td>
                                        <td>Integration Specialist</td>
                                        <td>New York</td>
                                        <td>61</td>
                                        <td>2012/12/02</td>
                                        <td>$372,000</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Bruno Nash</td>
                                        <td>Software Engineer</td>
                                        <td>London</td>
                                        <td>38</td>
                                        <td>2011/05/03</td>
                                        <td>$163,500</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Caesar Vance</td>
                                        <td>Pre-Sales Support</td>
                                        <td>New York</td>
                                        <td>21</td>
                                        <td>2011/12/12</td>
                                        <td>$106,450</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Cara Stevens</td>
                                        <td>Sales Assistant</td>
                                        <td>New York</td>
                                        <td>46</td>
                                        <td>2011/12/06</td>
                                        <td>$145,600</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Cedric Kelly</td>
                                        <td>Senior Javascript Developer</td>
                                        <td>Edinburgh</td>
                                        <td>22</td>
                                        <td>2012/03/29</td>
                                        <td>$433,060</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="sampleTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="sampleTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="sampleTable_previous"><a href="#" aria-controls="sampleTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="sampleTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="sampleTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="sampleTable_next"><a href="#" aria-controls="sampleTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                </div>
            </div>
            <span><button type="button" class="btn btn-primary a-btn-slide-text" data-toggle="modal" data-target="#myModal">Add Asset</button></span>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="tile">
                        <h3 class="tile-title">Add Asset</h3>
                        <div class="tile-body">
                            <form>
                                <div class="form-group">
                                    <label class="control-label">Loại Tài Sản</label>
                                    <input class="form-control" type="text" placeholder="Enter full name">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tên Tài Sản</label>
                                    <input class="form-control" type="email" placeholder="Asset Name">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Số Lượng</label>
                                    <input class="form-control" type="text" placeholder="Number Of Asset"></input>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Đánh Giá Tình Trạng</label>
                                    <input class="form-control" type="text" placeholder="Number Of Asset"></input>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ngày Thêm</label>
                                     <input type="text" class="form-control" placeholder="Day Created">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gender">Male
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gender">Female
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Thêm Hình Ảnh</label>
                                    <input class="form-control" type="file">
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                                        <label class="form-check-label" for="invalidCheck3">
                                            Agree to terms and conditions
                                        </label>
                                        <div class="invalid-feedback">
                                            You must agree before submitting.
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tile-footer">
                            <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
